#title {
    background-color: #ff4c68;
}

body {
    font-family: 'Montserrat', sans-serif
}

h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}
p{
    color: #8f8f8f;
}


/*NAVBAR*/

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}


/*Download BTN*/

.download-btn {
    margin: 5% 3% 5% 0;
}


/*TITLE IMAGE*/

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}




/* features sextion */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* TESTEMONIAL SECTION */

#testimonials{
text-align: center;
background-color: #ef8172;
color: #fff;
}

.testimonial-img{
    border-radius: 50%;
    width: 10%;
    margin: 10px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-img{
  width: 12%;
  margin: 20px 20px 50px;
}

/* Pricing SECTION */

#pricing{
  text-align: center;
  padding: 7% 15%;
}
.pricing-col{
  padding: 3% 2%;
}
/* CTA SECTION */

#cta{
    text-align: center;
    color: #fff;
    background-color: #ff4c68;
    padding: 7% 15%;
}
.cta-heading{
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

/* FOOTER SECTION */

#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  color: #ef8172;
  margin: 20px 10px;
}
.social-icon:hover{
  color: #ff4c68;
}



@media (max-width: 1028px){
  #title {
    text-align: center;
  }
  .title-image{
    position: static;
      transform: rotate(0);

  }
}
