#title {
    background-color: #ff4c68;
}

body {
    font-family: 'Montserrat', sans-serif
}

h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}


/*NAVBAR*/

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}


/*Download BTN*/

.download-btn {
    margin: 5% 3% 5% 0;
}


/*TITLE IMAGE*/

.title-image {
    width: 50;
    transform: rotate(25deg);
}